/*------------------------------------*\
    RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
    v2.0b1 | 201101 
    NOTE:WORK IN PROGRESS
    USE WITH CAUTION AND TEST WITH ABANDON */

html,body,div,span,applet,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,abbr,acronym,address,big,cite,code,
del,dfn,em,img,ins,kbd,q,s,samp,
small,strike,strong,sub,sup,tt,var,
b,u,i,center,
dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,
article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary,
time,mark,audio,video{
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    font:inherit;
    vertical-align:baseline;
}
/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section{
    display:block;
}
body{
    line-height:1;
}
ol,ul{
    list-style:none;
}
blockquote,q{
    quotes:none;
}
blockquote:before,blockquote:after,
q:before,q:after{
    content:’’;
    content:none;
}
/* remember to define visible focus styles! 
:focus{
    outline:?????;
} */

/* remember to highlight inserts somehow! */
ins{
    text-decoration:none;
}
del{
    text-decoration:line-through;
}

table{
    border-collapse:collapse;
    border-spacing:0;
}





/*------------------------------------*\
    $MAIN
\*------------------------------------*/
body{
    font-family: 'Roboto', sans-serif;
    color:#f0f0f0;
    background:#15181F;
    font-size:1rem;
    padding:0 3rem;
    max-width:20rem;
}

/*--Headers--*/
h1, h2, h3, h4, h5, h6{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
}

/*H1*/
h1{
    font-size:2.5rem;
    margin:1rem 0 1.5rem 0;
}
h1 .fa.right-spacing{
    margin-right:0.25rem;
}


/*H2*/
h2{
    font-size:2rem;
}


/*H3*/
h3{
    font-size:1.75rem;
}


/*H4*/
h4{
    font-size:1.5rem;
}


/*H5*/
h5{
    font-size:1.25rem;
}


/*H6*/
h6{
    font-size:1rem;
}


/*--Paragraphs--*/
p{
    line-height:1.25;
    margin-bottom:0.5rem;
}
pre{
    font-family: 'Roboto Mono', monospace;
    line-height:1.25;
    margin-bottom:0.5rem;
    background:#2F477F;
}


/*--Inline Elements--*/
abbr{
    color:hsla(222, 50%, 90%, 1);
}
a, a:link, a:visited{
    color:#5E8FFF;
    text-decoration:none;
}
a:hover, a:focus{
    color:#ffffff;
    text-decoration:none;
}



/*--Orbits--*/
.dim-orbit{
	fill: transparent;
	stroke: #909099;
}

.bright-orbit{
	fill: transparent;
	stroke: #f0f0ff;
}

.primary{
	fill: transparent;
	stroke:#ffffff;
}
